:root{
    --primary:#47185c;
    --primary-dark:#14001d;

}
html,body{
    font-family: Arial, Helvetica, sans-serif;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--primary);
}
.container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;

}
.box{
    width: 420px;
    /* height: 400px; */
    background-color: white;
    padding: 20px;
}

.upper h1{
    font-weight: 600;
    font-size: 2rem;
    line-height: 40px;

}
.upper,form{
    display: flex;
    align-items: center;
    flex-direction: column;
}
form{
    margin-top: 10px;
    gap:10px;
}
form input{
    width: 100%;
    padding: 5px;
    font-size: 18px;

}
form input:focus-visible{
 border: 1px solid var(--primary);
 outline: 1px solid var(--primary);
}
.btn{
    width: 100%;
    padding: 10px;
    font-size: 18px;
    background-color:var(--primary);
    color: white;
    border: none;
    opacity: 0.9;
}
.btn:hover{
    transition: 0.5s ease-in-out;
    opacity: 1;
}
.btn:active{
    transition: 0.1s ease-in-out;
    background-color: var(--primary-dark);
}
.qr_container{
    height: 0;
  border: 1px solid var(--primary);
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: opacity 0.3s ease-in, height 0.1s ease;
}
 .qr_container.show{
  /* border: 1px solid var(--primary); */
  /* display: block; */
  opacity: 1;
  padding: 10px;
  height: 180px;
  transform: opacity 0.3s ease-in, height 0.1s ease;
  /* justify-content: center;
  display: none; */
}
.qr_container img{
    height: 150px;

}

@media (max-width:500px){
    .box{
        width: 95%;
    }
    .box h1{
        font-size: 24px;
    }
    .box p{
        font-size: 14px;
    }
}